:root{
    --main-color: #0f0d0d;
    --secondary-color:#fe347e;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background:var(--main-color);
    color: #fff;
    display: flex;
}
.pic{
    position: fixed;
    right: 0;
    z-index: -10;
}

img{
    height: 100vh;
}
#about{
    width: 95%;
    height: 100vh;
    background: linear-gradient(90deg,var(--main-color),var(--main-color),var(--main-color),var(--main-color), transparent);
    z-index: 10;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
#about p{
  text-align: justify;
}
h1{
    color:var(--secondary-color);
}

